@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold;
  }
  fieldset {
    @apply border border-solid border-lime-600 pt-3 pb-6 pl-6 pr-6 w-max;
  }
  legend {
    @apply text-sm px-2 font-bold dark:text-stone-100;
  }
  input {
    @apply outline-none px-2 py-1 rounded focus:ring-2 focus:ring-lime-500 text-stone-700 bg-stone-300 w-48;
  }
  textarea {
    @apply outline-none px-2 py-1 rounded focus:ring-2 focus:ring-lime-500 text-stone-700 bg-stone-300 resize-none;
  }
  select {
    @apply outline-none px-2 py-1 rounded focus:ring-2 focus:ring-lime-500 text-stone-700 bg-stone-300 w-48;
  }
  label {
    @apply text-right font-bold;
  }
  th {
    @apply text-left px-2 text-stone-50;
  }
  tr {
    @apply dark:even:bg-stone-800/50;
  }
  td {
    @apply px-2 py-2;
  }
  tbody:first-child {
    padding-top: 10px;
  }
}

@layer components {
  /* Global */
  .header {
    @apply bg-lime-700 dark:bg-lime-600 text-stone-200 w-full text-2xl px-4 py-2 rounded-lg flex gap-2 smooth;
  }
  .smooth {
    @apply transform duration-300 ease-in-out;
  }
  .btn-primary {
    @apply bg-lime-700 dark:bg-lime-600 rounded-md py-2 px-4 hover:scale-105 hover:shadow-main text-white text-lg flex items-center justify-center gap-2;
  }
  .maincontent {
    @apply flex flex-col gap-4 z-[999];
  }
  .required {
    @apply after:content-['*'] after:dark:text-amber-200/80 after:text-amber-700 after:ml-1;
  }

  /* fontawesome */
  /* .fad {
    @apply text-2xl;
  }
  .fas {
    @apply text-2xl;
  }
  .far {
    @apply text-2xl;
  } */
  /* Boxes */
  .box {
    @apply w-max p-4 bg-stone-400/50 rounded-lg z-10;
  }
  .box-header {
    @apply text-2xl dark:text-stone-100 font-bold pb-4;
  }
  /* Nav */
  .nav-btn {
    @apply w-12 h-12 rounded-md bg-stone-300 dark:bg-stone-300/20 dark:text-stone-200 flex justify-center items-center smooth hover:cursor-pointer hover:shadow-main hover:bg-lime-600 dark:hover:bg-lime-600 hover:text-stone-50;
  }
  .navbar {
    @apply flex-none px-3 py-4 flex flex-col justify-between smhidden bg-stone-100 dark:bg-stone-800 smooth;
  }
  /* Panel */
  .pannel-card {
    @apply w-full bg-stone-200 dark:bg-stone-200/20 dark:text-stone-50 rounded-md py-2 px-2 border-l-4 border-transparent hover:border-lime-400 hover:translate-x-1 hover:shadow-main smooth;
  }
  .card-stack {
    @apply w-full h-full overflow-y-auto px-4 mb-4 relative flex flex-col gap-2;
  }

  /* ----
    Animations
  ---- */

  .fadeInRight {
    animation: fadeInRight 1s;
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .fadeInLeft {
    animation: fadeInLeft 1s;
  }
  @keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .fadeInTop {
    animation: fadeInTop 1s;
  }
  @keyframes fadeInTop {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fadeInBottom {
    animation: fadeInBottom 1s;
  }
  @keyframes fadeInBottom {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fadeIn {
    animation: fadeIn 1s ease-in-out;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  /* ----
    Animations - end
  ---- */
  @media only screen and (max-width: 768px) {
    .smhidden {
      display: none !important;
    }
  }
  /* Forms */
  .input-group {
    @apply lg:flex gap-4 grid grid-cols-2 grid-flow-row-dense items-center;
  }
  .input-group-col {
    @apply flex flex-col w-max gap-4;
  }
  .input-label {
    @apply w-28;
  }

  /* ToolTips */
  .right-tooltip {
    @apply absolute z-[9999] invisible group-hover:visible text-xs bg-lime-700 text-stone-200 p-2 left-11 w-max shadow-md rounded-lg;
  }
  .right-arrow {
    @apply w-2 h-2 bg-lime-700 absolute rotate-45 left-10 z-[9999] invisible group-hover:visible shadow-md;
  }
  .shadow-main {
    @apply shadow-[2px_2px_5px_0px] dark:shadow-black/30 shadow-gray-400;
  }
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  @apply bg-lime-500 rounded-full smooth;
}

.scrollbar-track-rounded-full::-webkit-scrollbar-track {
  border-radius: 10px;
}
.scrollbar-thumb-rounded-full::-webkit-scrollbar-track {
  border-radius: 10px;
}
.scrollbar-thumb-blue-50::-webkit-scrollbar-track {
  background: #c4c4c4;
}
.scrollbar-track-gray-50::-webkit-scrollbar-thumb {
  background: #6638b6;
}
